#banniere{
	background:url(images/banniere.jpg) no-repeat;
	height:150px;
    top: 0;
}
#footer {
	background:url(images/banniere.jpg) no-repeat;
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#footer .icone {
	width: 75px;
    height: 75px;
}
h1
{
	text-align:center;
	color:red;
}
div.gauche {
  float: left;
}
div.droite {
  float: right;
  font-size:12px;
  color:white;
}
#fleche
{
	width:50px;
	top:50px;
}
.etoile
{
	width:50px;
	top:50px;
}
div.gaucheserie {
	width:50%;
	margin:auto;
	float: left;
}
div.droiteserie {
  float: right;
}