#banniere{
	background:url(images/banniere.jpg) no-repeat;
	height:150px;
    top: 0;
    min-width: 1200px;
}
#footer {
	background:url(images/banniere.jpg) no-repeat;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 45%;
    margin-top:500px;
}
#footer .icone {
	width: 50px;
    height: 50px;
}
h1
{
	text-align:center;
	color:red;
}
div.gauche {
  float: left;
}
div.droite {
  float: right;
  font-size:12px;
  color:white;
}
#fleche
{
	width:50px;
	top:50px;
}
.etoile
{
	width:50px;
	top:50px;
}
div.gaucheserie {
	width:50%;
	margin:auto;
	float: left;
}
div.droiteserie {
  float: right;
}
#affichageserie{
.imgserie{
    float:left;
    margin-left: 20px;
    }
}
.chico {
    padding-top: 25%;
    width= 15%;
    height: 15%;
}

.serie {
    text-align: center;
    margin-top: 30px;
}
.serie img{
	height: 250px;
  width: 170px;
}
.bouttongenres{
  text-align: center;
}
#logo {
  height:150px;
  width:500px;
}
body {
    background-color : gainsboro;
}

header {
    background-color: darkgray;
}

.carousel-inner > .item > img {
      width: 70%;
      margin: auto;
}

section {
    margin: 10px;
}